<div class="row">
  <div class="col-md-2 header-wrap" (click)="goHome()">
      <span class="icon"></span>
      <h2>Präsentation</h2>
  </div>
  <div class="col-md-10" style="padding-left: 3vh; display: flex">
    <div class="menu-wrap">
      <div *ngFor="let item of menuItems" style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; padding: 0 2vh;">
        <img [src]="item.src" class="menu-item">
        <h3>{{item.text}}</h3>
      </div>
    </div>
  </div>
</div>
