.header-wrap {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

  .icon {
    background: url("assets/svg/powerpoint-icon.svg") no-repeat center center;
    width: 7vh;
    height: 7vh;
    display: block;
  }

  .menu-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    .menu-item {
      height: 3vh;
    }
  }



