<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="row row-align-center">
            <div class="col-md-2">
              <img width="100%" src="assets/svg/komaros-logo.svg" (click)="goHome()">
            </div>
            <div class="col-md-10">
              <app-bar></app-bar>
            </div>
          </div>
          <div class="row justify-end">
            <div class="col-md-10">
              <div class="row m-b-20">
                <div class="col-md-4 ">
                  <div class="img-thumbnail" (click)="imgClick($event)">
                    <img height="150px" [src]="domSanitizer.bypassSecurityTrustResourceUrl(settingsService.getResultImages().firstPath)">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="img-thumbnail" (click)="imgClick($event)">
                    <img height="150px" [src]="domSanitizer.bypassSecurityTrustResourceUrl(settingsService.getResultImages().secondPath)">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="img-thumbnail" (click)="imgClick($event)">
                    <img height="150px" [src]="domSanitizer.bypassSecurityTrustResourceUrl(settingsService.getResultImages().thirdPath)">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 m-b-20" *ngFor="let result of results">
                  <app-results [result]="result" (contextmenu)="goToFakeVideo()" (click)="goToFake()"></app-results>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 bigImg" style="
      height: 100vh;
      background: #5d5d5d;
      padding-top: 10vh;
      padding-bottom: 10vh;
      border-left: 30px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-left: 45px;
      padding-right: 45px;" *ngIf="showImage">
      <img [src]="imgSrc" style="box-shadow: 0 0 10px 2px #333333;">
    </div>
  </div>
</div>
