.logo {
  width: 100%;
  height: 150px;
  background: url("assets/svg/komaros-logo.svg") no-repeat center center;
}
.img-thumbnail {
  overflow: hidden;
  text-align: center;
}
.bigImg {
  text-align: center;
  img {
    max-width: 100%;
    max-height: 500px;
  }
}
