<div class="desktop">
  <div class="row">
    <div class="col-1 text-center" (click)="toggleFolderWindow()">
      <img class="folder" src="assets/svg/icon-folder.svg">
      <p>Zolinger 382957</p>
    </div>
    <div class="col-1 text-center" *ngFor="let name of folderNames">
      <img class="folder" src="assets/svg/icon-folder.svg">
      <p>{{ name }}</p>
    </div>
  </div>
</div>
<div class="folder-window" *ngIf="folderWindowShown">
  <div class="window-header" (click)="toggleFolderWindow()">
    <p>Zollinger</p>
    <span><img src="assets/svg/icon-close.svg"></span>
    <span><img src="assets/svg/icon-maximalize.svg"></span>
    <span><img style="vertical-align: middle;" src="assets/svg/icon-minimalize.svg"></span>
  </div>
  <div class="window-content">
    <div class="row">
      <div class="col-2 text-center" (click)="toggleAudioWindow()">
        <img class="folder" src="assets/svg/icon-recording.svg">
        <p>Aufzeichnung.vaw</p>
      </div>
      <div class="col-2 text-center">
        <img class="folder" src="assets/jpg/zolinger.jpg">
        <p>Zolinger photo.jpg</p>
      </div>
      <div class="col-2 text-center">
        <img class="folder" src="assets/jpg/identikit.jpg">
        <p>Identikit.jpg</p>
      </div>
    </div>
  </div>
</div>
<div class="folder-window" *ngIf="audioWindowShown">
  <div class="window-header" (click)="toggleAudioWindow()">
    <p>Aufzeichnung handy.vaw</p>
    <span><img src="assets/svg/icon-close.svg"></span>
    <span><img src="assets/svg/icon-maximalize.svg"></span>
    <span><img style="vertical-align: middle;" src="assets/svg/icon-minimalize.svg"></span>
  </div>
  <div class="window-content">
    <div class="row" style="height: 25%;">
      <div class="col-12 text-center" (click)="toggleAudioWindow()">
        <img height="300px" class="folder" src="assets/svg/icon-recording.svg">
      </div>
    </div>
    <div class="row" style="height: 25%;">
      <div class="col-12">
        <app-waveform></app-waveform>
      </div>
    </div>
    <div class="row" style="height: 25%;">
      <div class="col-12 text-center">
        <p style="font-size: 24px;">0:{{ getFormattedTime() }} / 0:{{ duration }}</p>
      </div>
    </div>
    <div class="row" style="height: 25%;">
      <div class="col-4"></div>
      <div class="col-1 text-center">
        <img (click)="removeTime()" src="assets/svg/icon-rewind.svg" height="50px">
      </div>
      <div class="col-2 text-center">
        <img (click)="toggleAudio()" src="assets/svg/icon-pause.svg" height="50px">
      </div>
      <div class="col-1 text-center">
        <img (click)="addTime()" src="assets/svg/icon-forward.svg" height="50px">
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
<div class="desktop-navigation">
  <div class="row">
    <div class="col-12">
      <div class="nav-icon">
        <img routerLink="/" src="assets/icon-komaros.png">
      </div>
      <div class="nav-icon">
        <img src="assets/svg/icon-folder.svg">
      </div>
      <div class="nav-icon">
        <img src="assets/png/browser.png">
      </div>
    </div>
  </div>
</div>
