.desktop {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 5vh;
  left: 0;
  padding: 0 15px;

  background-image: url("assets/jpg/desktop-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;

  p {
    color: white;
    text-shadow: 1px 1px 2px #000000;
  }
  .folder {
      max-height: 150px;
      max-width: 100%;
      width: 100%;
  }
}
.folder-window {
  position: fixed;
  top: 20vh;
  bottom: 20vh;
  left: 20vh;
  right: 20vh;
  //border: 2px solid #cecece;
  border-radius: 8px;
  background: white;
  padding: 15px;
  z-index: 9999;
  .window-header {
    background: #E90D38;
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 15px;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    p {
      float: left;
      margin: 0;
      line-height: 15px;
    }
    span {
      display: inline-block;
      float: right;
      margin-right: 15px;
      height: 15px;
      &:first-of-type {
        margin-right: 0;
      }
      img {
        max-height: 15px;
        max-width: 15px;
        vertical-align: top;
      }
    }
  }
  .window-content {
    position: absolute;
    padding: 60px 15px 15px 15px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    img {
      max-width: 100%;
      max-height: 100px;
    }
  }
}
.desktop-navigation {
  position: fixed;
  z-index: 999;
  top: 95vh;
  padding: 0.5vh 15px;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #E90D38;

  .nav-icon {
    padding: 0.5vh;
    height: 4vh;
    width: 4vh;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    &:first-of-type {
      margin-right: 30px;
    }
    img {
      height: 3vh;
      width: 3vh;
    }
  }
}
