.result-header {
  color: #001bad;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.result-link {
  font-size: 16px;
  color: #005000;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.result-content {
  font-size: 14px;
  color: #707070
}
