<div class="row">
  <div class="col-md-12">
    <div class="result-header">
      {{result.header}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="result-link">
      {{result.link}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="result-content">
      {{(result.content.length>6) ? (result.content | slice:0:100) + '...' : (result.content)}}
    </div>
  </div>
</div>
