
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .col {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .animate-animation {
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    overflow: hidden;

    span {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 2px;
      background: linear-gradient(#ff2f40, transparent);
      animation: bounce-001;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
      animation-duration: 500ms;

      @for $b from 1 through 45 {
        &:nth-child(#{$b}) {
          animation-delay: #{(($b) * (50))}ms;
        }
      }
      &:nth-child(2n) {
        animation-name: bounce-002;
        animation-timing-function: ease-out;
      }
      &:nth-child(3n) {
        animation-name: bounce-003;
        animation-timing-function: linear;
      }
    }
  }
}



  @keyframes bounce-001 {
    0% {
        height: 100%;
    }
    50% {
        height: 50%;
    }
    100% {
        height: 100%;
    }
}
@keyframes bounce-002 {
    0% {
        height: 100%;
    }
    80% {
        height: 30%;
    }
    100% {
        height: 100%;
    }
}
@keyframes bounce-003 {
    0% {
        height: 80%;
    }
    30% {
        height: 20%;
    }
    100% {
        height: 80%;
    }
}
