.search-bar {
  width: 100%;
  border-radius: 25px;
  box-shadow: 1px 1px 10px #001bad;
  padding-left: 25px;
  border: none;
  height: 60px;

}
.lupa {
  position: absolute;
  background: url("assets/svg/lupa.svg") no-repeat center center;
  width: 27px;
  height: 24px;
  display: block;
  top: calc(50% - 12px);
  right: 35px;
  cursor: pointer;
}

