.wrapper {
  padding-left: 10px;
  max-height: 120px;
  overflow: hidden;
}
.contact-name {
  font-weight: 700;
}
.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #001bad;
  border-radius: 5px;
  position: relative;
  left: -15px;
  top: 4px;
  &.checked {
    background-color: #001bad;
  }
}
.img-attached {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 7px;
  max-width: 100px;
  border: 1px solid #707070;
  border-radius: 20px;

  .img-attached-icon {
    background: url("assets/svg/img-attached-icon.svg") no-repeat center center;
    width: 20px;
    height: 20px;
  }
  .img-attached-label {
    color: #606060;
    font-size: 10px;
  }
}
.title {
  font-weight: 700;
}
.message-text {
  line-height: 24px;
  white-space: pre-line;

  .message {
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.read {
  background-color: #dfdfdf;

  .contact-name {
    font-weight: normal;
  }
  .title {
    font-weight: normal;
    color: #707070;
  }
  .message-text {
    color: #707070;
  }
}
