<div class="row wrapper" [ngClass]="{'read': mail.read}" >
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 message-text" (click)="showMail()">
        <span class="checkbox" [ngClass]="{'checked': checked}" (click)="handleChecked()"></span>
        <span class="contact-name">{{mail.author}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-9" (click)="mailService.setMailToRead(mail)">
    <div class="row">
      <div class="col-md-12 text-truncate m-b-5 message-text">
        <span class="title">{{mail.title}} - </span>
        <p class="message">{{mail.message}}</p>
      </div>
      <div class="col-md-12">
        <div *ngIf="mail.images.length > 0" class="img-attached">
          <span class="img-attached-icon" style="min-width: 20px"></span><span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis" class="img-attached-label">{{imgName}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
