<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-mail-header></app-mail-header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-mail-menu></app-mail-menu>
    </div>
    <div class="col-md-9">
      <app-mail-list *ngIf="!mailService.getMailToRead()">
      </app-mail-list>
      <app-read *ngIf="mailService.getMailToRead()"></app-read>
    </div>
  </div>
</div>
