

  <div class="row">
    <div class="col-md-12"  style="float: right;">
      <div class="row">
        <div class="col-md-12">
          <p class="author" (click)="mailService.clearMailToRead()"><span></span>{{mail.author}}</p>
        </div>
        <div class="col-md-12">
          <h2>{{mail.title}}</h2>
        </div>
        <div class="col-md-12">
          <p style="white-space: pre-wrap">{{mail.message}}</p>
        </div>
        <div class="col-md-12" style="padding-bottom: 60px">
          <div class="row images-row">
            <div class="col-md-12" style="padding-top: 10px; border-top: 1px dotted #606060; height: 40px; margin-bottom: 20px;">
              <div class="row">
                <div class="col-md-6" style="display: flex; align-items: center">
                  <span style="height: 40px; line-height: 40px; font-size: 18px; font-weight: 600">{{settings.getMailImages().length}} Prilohy</span>
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: flex-end; align-items: center">
                  <div class="icon download"></div>
                  <div class="icon delete"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div *ngFor="let img of mail.images" class="img-wrapper">
                  <img class="img-fluid" [ngClass]="{'bigImage': img.checked}" [src]="domSanitizer.bypassSecurityTrustResourceUrl(img.path)" (click)="img.checked = !img.checked">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
