.author {
  height: 36px;
  line-height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  span {
    display: inline-block;
    background: url("assets/svg/contact-icon.svg");
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }


}
.images-row {
  padding: 0 15px;
  .icon {
    display: inline-flex;
    padding: 0 10px;
    margin: 0 10px;
    height: 20px;
    width: 20px;

    &.download {
      background: url("assets/svg/icon-dload.svg");
    }
    &.delete {
      background: url("assets/svg/icon-bin.svg");
    }
  }

  .img-wrapper {
    padding: 10px;
    .img-fluid {
      height: 200px;
      border-radius: 20px;
      &.bigImage {
        position: fixed;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        box-shadow: 0px 0px 100vw #707070;
        max-height: 75%;
        z-index: 20;
        border-radius: 20px;
      }
    }
  }


}
