<div class="row">
  <div class="col-md-12">
    <div class="contact">
      <img src="assets/svg/contact-icon.svg">
      <span class="contact-name">
        {{name}} {{surname}}
      </span>
    </div>
  </div>
</div>
