.row {
  &.row-align-center {
    padding: 5px 0;
    &.highlight {
      padding: 10px 0;
      background-color: #AEBCFF;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
}
