<div (click)="mailService.clearMailToRead()" class="row row-align-center" [ngClass]="{'highlight': highlight}">
  <div class="col-md-3 text-center">
    <img src="assets/svg/{{iconPath}}">
  </div>
  <div class="col-md-9">
    {{label}}
  </div>
</div>
