.search-bar {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #001bad;

  .search-input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
  }
  .lupa {
    position: absolute;
    background: url("assets/svg/lupa.svg") no-repeat center center;
    width: 27px;
    height: 24px;
    display: block;
    top: calc(50% - 12px);
    right: 35px;
  }
}
