<div class="container">
  <div class="row header">
    <div class="col-md-3">
        <app-header-icon></app-header-icon>
    </div>
    <div class="col-md-9">
        <app-header-search></app-header-search>
    </div>
  </div>
</div>
