.row {
  display: flex;
  justify-content: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5vh
}
img {
  height: 75vh;
  border-radius: 5px;
}
