<div class="row m-b-20">
  <div class="col-md-2 mail-list-header" >
    <app-menu-item></app-menu-item>
  </div>
  <div class="col-md-10" style="display: flex; flex-direction: row-reverse">
    <img src="assets/svg/trash-icon.svg" (click)="mailService.deleteMailsToDelete()">
  </div>
</div>
<div *ngFor="let mail of mails" class="row" style="border-bottom: 1px solid #cecece; margin-bottom: 15px; padding-bottom: 15px;">
  <div class="col-md-12">
    <app-mail-item [mail]="mail"></app-mail-item>
  </div>
</div>
