.icons {
  height: 5vh;
  display: flex;
  padding: 0 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cecece;

  .menu-icon {
    display: inline-block;
    max-height: 3vh;
    max-width: 33.33%;
  }
}

.left-bar-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .img-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15px;
    border-radius: 8px;

    .blur {
      opacity: 0.4;
    }

    .img-thumbnail {
      width: 100%;
      height: 11vw;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      border-radius: 4px;
      border: 1px solid #cecece;
      padding: 0.5vh;
      img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: calc(11vw - 1vh);
      }
    }

    span {
      font-size: 1vh;
      padding-right: 5px;
      line-height: 20px;
    }
  }
}
