<div class="row icons">
  <img *ngFor="let icon of icons" class="menu-icon" [src]="icon.src">
</div>
<div class="row" style="height: 85vh; overflow: auto">
  <div class="col-md-12 left-bar-wrap" style="overflow-y: auto">
    <div class="img-wrapper" *ngFor="let img of images; let i = index">
      <span >{{i + 1}}</span>
      <div class="img-thumbnail">
        <img [class]="'img-thumbnail-' + i" [ngClass]="{'blur': img.src !== settingsService.powerPointImage.src}" [src]="img.src" (click)="showImage(i)">
      </div>
    </div>
  </div>
</div>
