<div class="container-fluid" style="background: #efefef; min-height: 100vh;">
  <div class="container" style="background: #ffffff; min-height: 100vh; padding: 2vh; border-left: .1vh solid #e4e4e4; border-right: .1vh solid #e4e4e4;">
    <div class="row">
      <div class="col-md-12">
        <h1 (click)="goHome()">{{data.header}}</h1>
      </div>
    </div>
    <div class="row" style="margin: 50px auto;">
      <div class="col-6">
        <div class="row">
          <div class="col-md-12 row-total-center">
            <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(data.image)" style="width: 100%; margin-bottom: 3vh;">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <video controls width="100%" [src]="domSanitizer.bypassSecurityTrustResourceUrl(data.video)"></video>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-md-12">
            <p>{{data.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
