@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
svg {
  color: #001bad;
}
input {
  &:focus {
    outline: none;
  }
}
.row-align-center {
  align-items: center;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.row-total-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.centered {
  margin: 0 auto;
}
.justify-end {
  justify-content: flex-end;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.text-center {
  text-align: center;
}
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-10-0 {
  padding: 10px 0;
}

