<div class="container-fluid row-total-center h-100">
  <div class="container" style="margin-top: -200px">
    <div class="row">
      <div class="col-md-12 ">
        <div class="logo centered" (click)="goHome()"></div>
      </div>
      <div class="col-md-12 bar-wrapper">
        <app-bar></app-bar>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 centered">
            <div class="suchen text-center" (click)="search()">
              Suchen
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
