.logo {
  background: url("assets/svg/searchLogo.svg") no-repeat center center;
  width: 300px;
  height: 150px;
  display: block;
}
.bar-wrapper {
  margin-bottom: 40px;
}

.suchen {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border-radius: 20px;
  color: #FF4E00;
  border: 1px solid #FF4E00;
  cursor: pointer;

  &:hover {

    transition: .1s ease-in-out;
    box-shadow: 1px 1px 10px #FF4E00;
  }
}
