.new-mail-button {
  padding: 10px 30px;
  border-radius: 25px;
  color: #FF4E00;
  box-shadow:  1px 1px  10px #001bad;

  &:before {
    content: "+";
    color: #FF4E00;
    display: block;
    position: absolute;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    top: -2px;
    left: 23px;
  }
}
.new-mail-number {
  position: absolute;
  color: #000;
  font-size: 16px;
  top: 12px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("assets/svg/new-mail-icon.svg") no-repeat center center;
  &:after {
    content: '1';
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 16px;
    right: 15px;
    top: -1px;
    color: #000;
  }
}
