<div class="row m-b-20">
  <div class="col-md-8 m-b-10 text-center">
    <div class="new-mail-button">
      Neues Mail
    </div>
  </div>
  <div class="col-md-12 m-b-10">
    <app-menu-item [highlight]="true"></app-menu-item><span class="new-mail-number" *ngIf="mailService.showNewMailNumber"></span>
  </div>
  <div class="col-md-12 m-b-10">
      <app-menu-item [iconPath]="'sent-icon.svg'" [label]="'Gesendet'"></app-menu-item>
  </div>
  <div class="col-md-12 m-b-10">
    <app-menu-item [iconPath]="'folder-icon.svg'" [label]="'Konzepte'"></app-menu-item>
  </div>
  <div class="col-md-12 m-b-10">
    <app-menu-item [iconPath]="'spam-icon.svg'" [label]="'Spam'"></app-menu-item>
  </div>
  <div class="col-md-12 m-b-10">
    <app-menu-item [iconPath]="'trash-icon.svg'" [label]="'Mülleimer'"></app-menu-item>
  </div>
</div>
