<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="row m-b-20">
       <div class="col-md-3">
         <button (click)="redirect()">Mail Client</button>
       </div>
       <div class="col-md-3">
         <button (click)="search()">Search</button>
       </div>
       <div class="col-md-3">
         <button (click)="powerpoint()">Powerpoint</button>
       </div>
       <div class="col-md-3">
         <button (click)="desktop()">Desktop</button>
       </div>
     </div>
    </div>
    <div class="col-md-12">
      <div class="row m-b-20">
        <div class="col-md-3">
          <button (click)="currentStep = picker.Mail">Přidat email</button>
        </div>
        <div class="col-md-3">
          <button (click)="currentStep = picker.Result">Přidat výsledek hledání</button>
        </div>
        <div class="col-md-3">
          <button (click)="currentStep = picker.Fake">Upravit falešnou stránku</button>
        </div>
      </div>
    </div>

  </div>
  <div class="row" *ngIf="currentStep == picker.Mail">
    <div class="col-md-12">
      <p>Přidat kontakt</p>
    </div>
    <div class="col-md-6">
      <label>Jméno a příjmení</label>
      <input type="text" [(ngModel)]="contactName">
      <button (click)="addContact()">Přidat</button>
    </div>
    <div class="col-md-6">
      <button (click)="clearContacts()">Resetovat Kontakty</button>
    </div>
    <div class="col-md-12 text-center">
      <p>Přidat Email</p>
    </div>
    <div class="col-md-4">
      <label> Jméno a příjmení autora</label>
      <input type="text" [(ngModel)]="authorName">
    </div>
    <div class="col-md-4">
      <label> Titulek zprávy</label>
      <input type="text" [(ngModel)]="title">
    </div>
    <div class="col-md-4">
      <label>Přečteno</label>
      <input type="checkbox" [(ngModel)]="read">
    </div>
    <div class="col-md-11">
      <label>Zpráva</label>
      <textarea style="resize: auto; width: 100%" [(ngModel)]="message"></textarea>
    </div>
    <div class="col-md-6 text-center">
      <input type="file" (change)="imageChanged($event)">
    </div>
    <div class="col-md-6 text-center">
      <button (click)="addEmail()">Přidat</button>
    </div>
    <div class="col-md-6 text-center">
      <label>Odeslat mail za : </label>
      <input type="text" [(ngModel)]="sendMailDelay">
      <label>vteřin</label>
      <button (click)="addEmailWithDelay()">Odeslat</button>
    </div>
    <div class="col-md-6 text-center">
      <button (click)="clearMails()">ClearMails</button>
    </div>
  </div>
  <div class="row" *ngIf="currentStep == picker.Result">
    <div class="col-md-12 text-center">
      Přidat výsledek hledání ( obrazky )
      <div class="col-md-6 text-center">
        prvni obrazek
        <input type="file" (change)="imageOneChanged($event)">
      </div>
      <div class="col-md-6 text-center">
        druhy obrazek
        <input type="file" (change)="imageTwoChanged($event)">
      </div>
      <div class="col-md-6 text-center">
        treti obrazek
        <input type="file" (change)="imageThreeChanged($event)">
      </div>
    </div>
    <div class="col-md-12 text-center">
      Přidat výsledek hledání
    </div>
    <div class="col-md-4">
      <label>Nadpis výsledku</label>
      <input type="text" [(ngModel)]="resultHeader">
    </div>
    <div class="col-md-4">
      <label>Odkaz ve výsledku</label>
      <input type="text" [(ngModel)]="resultLink">
    </div>
    <div class="col-md-4">
      <label>Obsah (malý šedý text dole)</label>
      <textarea type="text" [(ngModel)]="resultContent"></textarea>
    </div>
    <div class="col-md-6 row-total-center" style="margin-top: 20px">
      <button (click)="addResult()">Přidat</button>
    </div>
    <div class="col-md-6 row-total-center" style="margin-top: 20px">
      <button (click)="settingsService.clearResults()">Smazat všechny výsledky</button>
    </div>
    <div class="col-md-6 row-total-center" style="margin-top: 20px">
      <input type="number" [(ngModel)]="deleteAtPos" [min]="0" [max]="settingsService.results.length - 1">
      <button (click)="settingsService.clearResult(deleteAtPos)">Smazat výsledek na pozici</button>
    </div>
  </div>
  <div class="row" *ngIf="currentStep == picker.Fake">
    <div class="col-12">
      <h1>Falesna stranka</h1>
    </div>
    <div class="col-md-6">
      <label>Nadpis</label>
      <input type="text" [(ngModel)]="fakeHeader">
    </div>
    <div class="col-md-6">
      <label>Obsah</label>
      <textarea type="text" [(ngModel)]="fakeText"></textarea>
    </div>
    <input type="file" (change)="onFakeImage($event)">
    <div class="row">
      <div class="col-md-12">
        <button style="margin-right: 5px" (click)="setFake()">OK</button>
        <button style="margin-left: 5px" (click)="resetFake()">RESET</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="currentStep == picker.Fake">
    <div class="col-12">
      <h1>Falesna stranka s videem</h1>
    </div>
    <div class="col-md-6">
      <label>Nadpis</label>
      <input type="text" [(ngModel)]="fakeVideo.header">
    </div>
    <div class="col-md-6">
      <label>Obsah</label>
      <textarea type="text" [(ngModel)]="fakeVideo.text"></textarea>
    </div>
    <div class="col-6">
      <label>Obrazek</label>
      <input type="file" (change)="onFakeVideoImage($event)">
    </div>
    <div class="col-6">
      <label>Video</label>
      <input type="file" (change)="onFakeVideo($event)">
    </div>
    <div class="row">
      <div class="col-md-12">
        <button style="margin-right: 5px" (click)="setFakeVideo()">OK</button>
        <button style="margin-left: 5px" (click)="resetFakeVideo()">RESET</button>
      </div>
    </div>
  </div>
</div>
