<div class="container-fluid" style="overflow: hidden">
  <div class="row" style="border-bottom: 1px solid #cecece;">
    <div class="col-md-12" >
      <app-header></app-header>
    </div>
  </div>
  <div class="row " style="height: 90vh;">
    <div class="col-md-2" style="border-right: 1px solid #cecece;">
      <app-left-bar></app-left-bar>
    </div>
    <div class="col-md-10">
      <app-content style="margin: 0 auto">
      </app-content>
    </div>
  </div>
</div>
